body {
background-color: #F850C0;
background-image: linear-gradient(43deg, #E6DFDF 0%, #8C64A3 46%, #D7AAF1 100%);
}
h1 {
  font-size: 30px;
  font-family: cursive;
  color: black;
}
h2 {
  font-size: 30px;
  font-family:  monospace;
  color: black;
}
a {
  color: blue;
  text-decoration: none;
}